body{
	background:#000 url("background.jpg")  no-repeat;	
}
p{
	font-family:Geneva;
	font-size:200%;
	letter-spacing:-1px;
	background:#fff;
	padding:10px;
}
#container{
	background:#000;
	opacity:.5;
	position:absolute;
	top:170px;
	left:10px;
	width:400px;
	-moz-border-radius:25px;
}